# Privacy Node
PRIVACY_NODE_RPC_URL=https://privacy-node-0.rayls.com
DEPLOYMENT_PROXY_REGISTRY=0xd58034959BebBABdCa650e4670d79b1ac4C4b95B
PRIVACY_NODE_CHAIN_ID=800000

# Backend API
BACKEND_URL=https://rayls-backend-privacy-node-0.rayls.com
USER_AUTH_KEY=<provided>
OPERATOR_AUTH_KEY=<provided>

# Public Chain
PUBLIC_CHAIN_RPC_URL=https://testnet-rpc.rayls.com/
PUBLIC_CHAIN_ID=7295799

# Keys
DEPLOYER_PRIVATE_KEY=<your deployer key>
REGISTERED_PRIVATE_KEY=<from onboarding response>
PUBLIC_CHAIN_PRIVATE_KEY=<from onboarding response>

# Addresses
MINT_RECIPIENT=<private chain address from onboarding>
TRANSFER_TO=<public chain address from onboarding>
NFT_ADDRESS=<deployed NFT contract on Privacy Node>
NFT_MIRROR_ADDRESS=<mirror contract on Public Chain>

# Public Chain Contracts
ATTESTATION_ADDRESS=<deployed on Public Chain>
MARKETPLACE_ADDRESS=<deployed on Public Chain>
